[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "==2.2.3"
scikit-learn = "==1.6.0"
seaborn = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.12"
